[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "Automation module for MISP"
description = ""
version = "0.0"
authors = []
package-mode = false

[tool.black]
line-length = 119
target-version = ["py314"]

[tool.poetry.dependencies]
python = ">=3.14,<4.0"
pymisp = "^2.4.169.2"
sekoia-automation-sdk = "^1.13.0"
stix2 = "~1.3"
cachetools = "^3.1"
orjson = "*"

[tool.poetry.dev-dependencies]
pytest = "*"
pytest-cov = "*"
requests-mock = "*"
freezegun = "*"

[tool.coverage.run]
omit = ["tests/*", "main.py"]
