[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "Automation Module for SentinelOne"
description = ""
version = "0.0"
authors = []
package-mode = false
[[tool.poetry.packages]]
include = "deep_visibility"

[tool.black]
line-length = 119
target-version = ["py314"]
include = "\\.pyi?$"

[tool.isort]
profile = "black"
line_length = 119

[tool.poetry.dependencies]
python = ">=3.14,<4.0"
sekoia-automation-sdk = "^1.18.3"

[tool.poetry.dev-dependencies]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
requests = "*"
requests-mock = "*"

[tool.coverage.run]
omit = ["tests/*", "main.py"]

[tool.poetry.dependencies.aws-automation]
path = "../AWS"
develop = false

[tool.poetry.group.dev.dependencies]
mypy = "^0.990"
Faker = "^13.12.0"
