[tool.poetry]
name = "Automation Module for Sekoia.io"
description = ""
version = "0.0"
authors = []

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
requests = "*"
sekoia-automation-sdk = "^1.8.2"
kafka-python = "*"
tenacity = "*"
ujson = "*"
websocket-client = "*"
gevent = "*"
orjson = "*"

[tool.poetry.dev-dependencies]
pytest = "*"
pytest-cov = "*"
requests = "*"
requests-mock = "*"

[build-system]
requires = [ "poetry-core>=1.0.0",]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 119
target-version = ['py39']
include = '\.pyi?$'

[tool.isort]
profile = "black"
line_length = 119

[tool.coverage.run]
omit = [
    "tests/*",
    "main.py",
]
