[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "Automation module for Office365"
description = ""
version = "0.0"
authors = []
package-mode = false

[tool.isort]
profile = "black"
line_length = 119

[tool.black]
line-length = 119
target-version = ["py311"]

[tool.ruff]
target-version = "py311"
line-length = 119
fix = true
select = ["E", "W", "F", "I", "C", "B", "UP", "FIX", "T20"]
ignore = ["FIX003", "FIX004", "C901"]

[tool.poetry.dependencies]
python = ">=3.11,<3.12"
orjson = "^3.7.7"
tenacity = "^8.0.1"
msal = "^1.18.0"
python-dateutil = "^2.8.2"
freezegun = "^1.4.0"
pytest-freezegun = "^0.4.2"
aiohttp = "^3.13.3"
structlog = "^24.4.0"

[tool.poetry.group.dev.dependencies]
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
requests = "*"
requests-mock = "*"
aioresponses = "^0.7.6"
black = { version = "25.12.0", extras = ["colorama"] }
isort = "^7.0.0"

[tool.coverage.run]
omit = ["tests/*", "main.py"]

[tool.poetry.dependencies.sekoia-automation-sdk]
version = "^1.18.1"
extras = ["all"]
