[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "Azure Active Directory"
description = ""
version = "0.0"
authors = []
package-mode = false

[tool.black]
line-length = 119
target-version = ["py314"]
include = "\\.pyi?$"

[tool.isort]
profile = "black"
line_length = 119

[tool.mypy]
strict = false
ignore_missing_imports = true
allow_subclassing_any = true
allow_untyped_calls = true
pretty = true
show_error_codes = true
implicit_reexport = true
allow_untyped_decorators = true
warn_return_any = true
exclude = ["tests/*"]

[tool.poetry.dependencies]
python = ">=3.14,<4.0"
azure-identity = "^1.23.1"
pydantic = "2.10"
msgraph-sdk = "^1.45.0"
cachetools = "^6.2.0"
loguru = "^0.7.3"

[tool.poetry.dev-dependencies]
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
requests-mock = "*"
flake8 = "^4.0.1"
mypy = "^1.11.2"
pytest-clarity = "^1.0.1"
Faker = "^13.12.0"

[tool.pytest.ini_options]
minversion = "6.0"
testpaths = ["tests"]
addopts = "  --strict-markers\n  --tb=short\n  --cov=graph_api\n  --cov=azure_ad\n  --cov-branch\n  --cache-clear\n  --cov-report=html\n  --cov-report=term-missing:skip-covered\n  --cov-fail-under=5\n  --asyncio-mode=auto\n"

[tool.coverage.run]
omit = ["tests/*", "main.py"]

[tool.poetry.dependencies.sekoia-automation-sdk]
version = "^1.21.0"
extras = ["all"]

[tool.poetry.dev-dependencies.black]
version = "^22.6.0"
allow-prereleases = true
