[build-system]
requires = [ "poetry-core>=1.0.0",]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "FileUtils automation module"
description = ""
version = "0.0"
authors = []
package-mode = false

[tool.black]
line-length = 119
target-version = [ "py314",]
include = "\\.pyi?$"

[tool.isort]
profile = "black"
line_length = 119

[tool.poetry.dependencies]
python = ">=3.11,<4.0"
sekoia-automation-sdk = "^1.21.2"
jsonpath_ng = "^1.5"
orjson = "*"
lxml = "^4.6.3"
datetime = "^5.2"
structlog = "^25.5.0"

[tool.poetry.dev-dependencies]
pytest = "*"
pytest-cov = "*"
requests-mock = "*"

[tool.coverage.run]
omit = [ "tests/*", "main.py",]
