[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "Automation module for HarfangLab"
description = ""
version = "0.0"
authors = []
package-mode = false

[tool.mypy]
plugins = ["pydantic.mypy"]

[tool.black]
line-length = 119
target-version = ["py38"]
include = "\\.pyi?$"

[tool.isort]
profile = "black"
line_length = 119

[tool.poetry.dependencies]
python = ">=3.11,<3.12"
sekoia-automation-sdk = "^1.21.0"
pydantic = "2.10"
requests = "*"
requests-ratelimiter = "^0.7.0"
stix2-patterns = "^2.0.0"
structlog = "^24.4.0"
findpython = "^0.7.0"

[tool.poetry.dev-dependencies]
pytest = "*"
pytest-cov = "*"
requests-mock = "*"
mypy = "*"
types-requests = "*"

[tool.coverage.run]
omit = ["tests/*", "main.py"]

[tool.poetry.group.dev.dependencies]
aiohttp = "^3.12.14"
