[build-system]
requires = [ "poetry-core",]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "openai-module"
version = "0.1.0"
description = ""
authors = []
package-mode = false
readme = "README.md"

[tool.black]
line-length = 119
target-version = [ "py314",]
include = "\\.pyi?$"

[tool.isort]
profile = "black"
line_length = 119

[tool.poetry.dependencies]
python = ">=3.11,<4.0"
openai = "^0.27.7"
sekoia-automation-sdk = "^1.21.2"

[tool.coverage.run]
omit = [ "tests/*", "main.py",]

[tool.poetry.group.dev.dependencies]
pytest = "^7.3.1"
requests-mock = "^1.10.0"
pytest-cov = "^4.1.0"
